#sidebar {
  width: 210px;
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  height: 100%;
  background: #29979B;
  padding: 7em 0 0 0;

  #logo img {
    width: 31%;
    position: absolute;
    right: 3em;
    top: 4px;
    border-radius: 6px;
  }

  table {
    font-family: Helvetica, Arial;
    border-collapse: separate; 
    width: 200px;
    border-spacing: 0;
    margin-left: 5px;
    color: yellow;
  }


  tr:last-child td:first-child { border-bottom-left-radius: 10px; }
  tr:last-child td:last-child { border-bottom-right-radius: 10px; }

  td, th {
    border: 0.3px solid #29979B;
    height: 20px;
    border: solid 1px;
  }

  td {
    background: #FAFAFA;
    text-align: left;
  }

  /* Cells in even rows (2,4,6...) are one color */
  tr:nth-child(even) td { background: #75a3a3; font-size: 11px; }

  /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
  tr:nth-child(odd) td { background: #21a79d; font-size: 11px; }

  .floatlf {
    float: left;
    #money {
      color: #ff8080;
      font-family: "Great Vibes";
      font-size: 20px;
      margin: 9px;

      input[type="submit"] {
      margin-top: 9px;
      outline: none;
      background: transparent;
      border: 2px solid yellow;
      padding: .4em;
      font-size: 25px;
      border-radius: 15px;
      color: yellow;
        &:hover {
          border: 2px solid #ff8080;
          color: #ff8080;
        }
      }
    }
  }
}
#store_content {
  padding-left: 100px;
  min-height: 100vh;
  margin-left: 130px;
  margin-top: 100px;
}

.button {
  outline: none;
  background: transparent;
  border: 3px solid #29979B;
  padding: .5em 1.5em;
  border-radius: 15px;
  color: #E523C4;

  &:hover {
    border: 3px solid #E55D23;
    color: #E55D23;
    a {
      color: #E55D23 !important;
    }
  }
}



