table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 200px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 5px;
    background-color:#ff0;
    border-radius: 25px;
    color: yellow;

}

a {
  color: white;
}

td, th {
  border: 1px solid yellow;
  height: 30px;
}

td {
  background: #FAFAFA;
  text-align: left;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #31BEC3; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #21a79d; }

.floatlf {
  float: right;
  #money {
    color: #ff8080;
    font-family: "Great Vibes";
    font-size: 25px;
    margin: 9px;

    input[type="submit"] {
    margin-top: 9px;
    margin-left: 23px;
    outline: none;
    background: transparent;
    border: 2px solid yellow;
    padding: .4em;
    font-size: 25px;
    border-radius: 15px;
    color: yellow;
      &:hover {
        border: 2px solid #ff8080;
        color: #ff8080;
      }
    }
  }
}
