#products
  h2
    | Pizzas
    '
    = @store.products.count
  = render @store.products
  = simple_form_for [@store, @store.products.build] do |f|
    p= f.input :name, required: false
    p= f.input :description, required: false
    p= f.button :submit
